@font-face {
    font-family: "Adolescence Regular";
    src: url("fonts/Adolescence Regular.ttf") format("truetype");
}

@font-face {
    font-family: "NF-okeanos-Regular";
    src: url("fonts/NF-okeanos-Regular.ttf") format("truetype");
}



* {
    margin: 0%;
}

body {
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/571/120/895/movie-coraline-wallpaper-preview.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding-right: 400px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}

.h1 {
    font-size: 500%;
    font-weight: 400;
    text-align: center;
    color: aliceblue;
    /* padding-right: 500px; */
    padding-top: 60px;
    font-family: "Adolescence Regular";
}

main {
    padding: 35px;
}

p {
    text-align: center;
    color: aliceblue;
    /* padding-right: 400px; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
}


textarea {
    margin-right: 20px;
    background: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular',
        'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
    margin: 10px 0px;
    color: aliceblue;
}

.cajadesplazamiento {
    margin-bottom: 15px;
}

.botones {
    margin-bottom: 15px;
}

/* Cambiar el color del input a morado */
#offset {
    background-color: rgb(87,90,81);
    color: white; /* Cambiar el color del texto para que sea legible en el fondo morado */
    border: none;
    margin-bottom: 10px;
    text-align: center;
    border: 1px solid #ccc; 
    border-radius: 5px;
    outline: none;
  }
  
  /* Cambiar el color de los botones a morado */
  .btncifrar, .btndescifrar, .btnlimpiar {
    background-color: rgb(87,90,81);
    color: white; /* Cambiar el color del texto para que sea legible en el fondo morado */
    border: none; /* Quitar el borde para un aspecto más limpio */
    padding: 10px 20px; /* Ajustar el espaciado interno */
    cursor: pointer;; /* Cambiar el cursor al pasar sobre los botones */
  }
 

.btncifrar,
.btndescifrar,
.btnlimpiar {
  /* Estilos originales */
  padding: 10px 20px;
  background-color: rgb(30,111,47); /* Color morado */
  color: white;
  border: none;
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  position: relative; /* Se necesita para la sombra oblicua */
}

.btncifrar:hover,
.btndescifrar:hover,
.btnlimpiar:hover {
  /* Efecto de pulsación con sombra oblicua */
  transform: scale(1.1);
  box-shadow: 6px 6px 10px rgba(30,111,47, 0.2), -6px -6px 10px rgba(30,111,47, 0.2); /* Sombra oblicua */
}


.btn {
    font-family: 'Lucida Sans', 'Lucida Sans Regular',
        'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.parrafo2 {
    font-size: 13px;
}

footer {
    text-align: left;
    color: aliceblue;
    font-family: "NF-okeanos-Regular";
}